#####  Step-1: Importing Required Libraries

In [43]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

##### Step-2: CURL

In [73]:
headers = {
    'sec-ch-ua-platform': '"Android"',
    'Referer': 'https://www.autolist.com/listings',
    'User-Agent': 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Mobile Safari/537.36',
    'sec-ch-ua': '"Google"',
    'sec-ch-ua-mobile': '?1',
}
params = (
    ('ads', 'true^'),
    ('include_total_price_change', 'true^'),
    ('include_time_on_market', 'true^'),
    ('include_relative_price_difference', 'true^'),
    ('body_style^/[^/]', 'sedan^'),
    ('latitude', '30.2672^'),
    ('limit', '20^'),
    ('longitude', '-97.7431^'),
    ('page', '1^'),
    ('radius', '100^'),
    ('zip', '^'),
)

response = requests.get('https://www.autolist.com/api/v2/search', headers=headers, params=params)

##### Step-3: Checking Status Code

In [17]:
print(response.status_code)

200

##### Step-4: Create JSON Object

In [20]:
results_json = response.json()

##### Step-5: Checking the Type of JSON object

In [21]:
type(results_json)

dict

##### Step-6: Obtaining the key value of JSON object

In [22]:
results_json.keys()

dict_keys(['total_count', 'total_count_formatted', 'hits_count', 'records', 'promoted_aggregations', 'facet_counts', 'ad_info'])

##### Step-7: Checking the type of JSON Object which contains the records

In [25]:
type(results_json['records'])

list

##### Step-8: Checking the length of the JSON object

In [26]:
len(results_json['records'])

20

In [74]:
#Starting point for our first result
results_json['records'][0]

{'id': 301104729,
 'accepts_click_off': True,
 'accepts_leads': True,
 'accepts_leads_and_click_off': True,
 'always_ask_for_zip': False,
 'available_nationwide': False,
 'backup_camera': True,
 'bed': None,
 'bluetooth': True,
 'body_style': 'sedan',
 'body_type': 'sedan',
 'cabin': None,
 'categories': ['fuel_efficient', 'commuter'],
 'city': 'Live Oak',
 'city_mpg': 27,
 'clickoff_url': 'https://www.aviscarsales.com/catcher.esl?vin=1N4BL4DV1RN359456&utm_source=autolist&utm_medium=referral&utm_campaign=vdp_deep_link',
 'combined_mpg': 32,
 'condition': 'used',
 'cpl_value': 15,
 'created_at': '2024-10-31T03:07:47.071Z',
 'dealer_group_uuid': '82194771-95d6-4e42-9d96-0a838b5cc1f6',
 'dealer_name': 'Avis Car Sales - San Antonio',
 'distance_from_origin': 61,
 'door_count': 4,
 'driveline': 'FWD',
 'eligible_for_financing': True,
 'email_opt_default': True,
 'engine_cylinders': 4,
 'entertainment': False,
 'experience': 'local',
 'finance_dealer_id': '10257233',
 'financing_experience': 'softpull',
 'fuel_type': 'gasoline',
 'green_engine': False,
 'handicap_accessible': False,
 'has_photos': True,
 'heated_seats': False,
 'hwy_mpg': 39,
 'ipod_aux_input': False,
 'is_hot': False,
 'lane_departure_warning_system': False,
 'lat': 29.5567,
 'leather': False,
 'lon': -98.3649,
 'make_and_model': 'nissan_altima',
 'make_name': 'Nissan',
 'max_distance': None,
 'mileage': 37658,
 'model_id': 1511,
 'model_name': 'Altima',
 'national_backfill': False,
 'national_backfill_priority': None,
 'navigation': False,
 'normalized_color_exterior': 'white',
 'normalized_color_interior': 'gray',
 'one_owner': True,
 'open_in_new_window': False,
 'partner_type': 'dealer_direct',
 'phone': '2109400096',
 'photo_urls': ['https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-445065553523413569-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-1720070916677507762-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-1371807333292979712-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-1733054790198769314-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-3781371254207508987-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-4981304582838480094-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-1432963649120542761-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-2284148156436614407-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-2138918269500035898-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-3233474654016978839-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-4017435827735416809-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-7522635033051597941-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-3195994279725951822-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-1501656597407531534-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-602443220996656293-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-247727919891384488-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-6658195934828108430-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-3628182653485990589-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-3912150678222614005-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-5018944060329508031-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-7909088031935722918-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-3820063696170658190-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-4599076238545176178-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-2776206822987770579-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-6144946538609841505-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-8440563545757586818-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-1419235807449697535-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-554892218813453518-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-3193100872194611074-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-6048205475615372345-1024x768.jpeg?io=true&width=320&format=jpeg',
  'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-8207297084809217942-1024x768.jpeg?io=true&width=320&format=jpeg'],
 'previous_price': 20699,
 'price': 19999,
 'price_dropped_at': '2024-11-21T03:42:49.255Z',
 'price_with_listimate': 19999,
 'primary_photo_url': 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-445065553523413569-1024x768.jpeg',
 'provider_group_id': 229,
 'provider_id': 199,
 'provider_name': 'car_gurus',
 'provider_priority': 0.17,
 'provider_priority_local': 0.17,
 'quality_score': 1,
 'quick_picks_eligible': False,
 'rear_wheel': None,
 'recent_price_drop': False,
 'region_name': None,
 'regional': False,
 'require_email_opt_in': False,
 'requires_address_with_lead': False,
 'roof_rack': False,
 'search_make': 'nissan',
 'search_model': 'altima',
 'show_new_mileage': False,
 'state': 'TX',
 'sunroof': False,
 'third_row_seats': False,
 'thumbnail_url': 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-445065553523413569-1024x768.jpeg?io=true&width=160&format=jpeg',
 'thumbnail_url_large': 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-445065553523413569-1024x768.jpeg?io=true&width=320&format=jpeg',
 'towing': False,
 'tracking_params': {'id_from_provider': '399908905',
  'remote_dealer_id': '416141',
  'dealer_name': 'Avis Car Sales - San Antonio',
  'remote_sku': '54212454',
  'experience': 'local',
  'rooftop_unique_name': None,
  'rooftop_uuid': None,
  'dealer_unique_name': 'avis_san_antonio',
  'dealer_uuid': '1a094859-a34c-408e-8a54-58b485ac5c2f',
  'dealer_group_unique_name': 'avis_cargurus',
  'dealer_group_uuid': '82194771-95d6-4e42-9d96-0a838b5cc1f6'},
 'transmission': 'automatic',
 'trim': '2.5 SV',
 'updated_at': '2024-11-21T03:43:54.811Z',
 'vdp_url': '/nissan-altima#vin=1N4BL4DV1RN359456',
 'vin': '1N4BL4DV1RN359456',
 'warranty': True,
 'year': 2024}

##### Gathering Data Point for our first Result

In [76]:
#Model_id
results_json['records'][0]['model_id']

1511

In [77]:
#Model Name
results_json['records'][0]['model_name']

'Altima'

In [78]:
#Photo URLs
results_json['records'][0]['photo_urls']

['https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-445065553523413569-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-1720070916677507762-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-1371807333292979712-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-1733054790198769314-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-3781371254207508987-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-4981304582838480094-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-1432963649120542761-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-2284148156436614407-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-2138918269500035898-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-3233474654016978839-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-4017435827735416809-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-7522635033051597941-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-3195994279725951822-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-1501656597407531534-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-602443220996656293-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-247727919891384488-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-6658195934828108430-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-3628182653485990589-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-3912150678222614005-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-5018944060329508031-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-7909088031935722918-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-3820063696170658190-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-4599076238545176178-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-2776206822987770579-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-6144946538609841505-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-8440563545757586818-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-1419235807449697535-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-554892218813453518-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-3193100872194611074-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-6048205475615372345-1024x768.jpeg?io=true&width=320&format=jpeg',
 'https://static.cargurus.com/images/forsale/2024/10/31/23/47/2024_nissan_altima-pic-8207297084809217942-1024x768.jpeg?io=true&width=320&format=jpeg']

In [80]:
#Price
results_json['records'][0]['price']

19999

In [81]:
#Previous Price
results_json['records'][0]['previous_price']

20699

In [82]:
#Provider Name
results_json['records'][0]['provider_name']

'car_gurus'

In [83]:
#Mileage
results_json['records'][0]['mileage']

37658

In [84]:
#Make Name
results_json['records'][0]['make_name']

'Nissan'

##### Step-9: Creating an Object

In [37]:
result_items = results_json['records']

##### Step-10: Calculating the Length

In [38]:
len(result_items)

20

##### Step-11: Putting Everything Together - Loop through results and append data inside a list

In [40]:
model_id = []
model_name = []
photo_urls = []
price = []
previous_price = []
provider_name = []
mileage  = []
make_name = []

for result in result_items:
    #model_id
    model_id.append(result['model_id'])
    #model_name
    model_name.append(result['model_name'])
    #photo_urls
    photo_urls.append(result['photo_urls'])
    #price
    price.append(result['price'])
    #previous_price
    previous_price.append(result['previous_price'])
    #provider_name
    provider_name.append(result['provider_name'])
    #mileage
    mileage.append(result['mileage'])
    #make_name
    make_name.append(result['make_name'])

##### Step-12: Pandas Dataframe - Single Page

In [ ]:
sedan_df = pd.DataFrame({'model_id': model_id, 'model_name' : model_name, 'photo_urls' : photo_urls, 'price' : price, 'previous_price' : previous_price, 'provider_name' : provider_name, 'mileage': mileage, 'make_name' : make_name})

##### Step-13: Gathering the first five records

In [45]:
sedan_df.head()

,model_id,model_name,photo_urls,price,previous_price,provider_name,mileage,make_name
0,1511,Altima,[https://static.cargurus.com/images/forsale/20...,19999,20699.0,car_gurus,37658.0,Nissan
1,1440,Challenger,[https://static.cargurus.com/images/forsale/20...,42395,44795.0,car_gurus,1072.0,Dodge
2,880,RAV4,[https://static.cargurus.com/images/forsale/20...,25239,25499.0,car_gurus,31556.0,Toyota
3,957,F-150,[https://static.cargurus.com/images/forsale/20...,44430,NaN,car_gurus,NaN,Ford
4,1276,Tahoe,[https://static.cargurus.com/images/forsale/20...,82700,NaN,car_gurus,1.0,Chevrolet

##### Step-13: Storing them into the excel file

In [ ]:
sedan_df.to_excel('sedan_single_page.xlsx', index=False)

##### Step-14: Scraping Multiple Pages (here: 5 pages to get 100 results)

In [87]:
import requests
import pandas as pd

headers = {
    'sec-ch-ua-platform': '"Android"',
    'Referer': 'https://www.autolist.com/listings',
    'User-Agent': 'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Mobile Safari/537.36',
    'sec-ch-ua': '"Google"',
    'sec-ch-ua-mobile': '?1',
}

model_id = []
model_name = []
photo_urls = []
price = []
previous_price = []
provider_name = []
mileage = []
make_name = []

for i in range(1, 6):
    params = {
        ('ads', 'true^'),
        ('include_total_price_change', 'true^'),
        ('include_time_on_market', 'true^'),
        ('include_relative_price_difference', 'true^'),
        ('body_style^/[^/]', 'sedan^'),
        ('latitude', '30.2672^'),
        ('limit', '20^'),
        ('longitude', '-97.7431^'),
        ('page', '1^'),
        ('radius', '100^'),
        ('zip', 'str(i)^'),
    }

    response = requests.get('https://www.autolist.com/api/v2/search', headers=headers, params=params)
    print(f"Page {i} Status Code: {response.status_code}")

    if response.status_code == 200:
        try:
            results_json = response.json()
            if 'records' in results_json:
                result_items = results_json['records']
                for result in result_items:
                    model_id.append(result.get('model_id', None))
                    model_name.append(result.get('model_name', None))
                    photo_urls.append(result.get('photo_urls', [None])[0] if result.get('photo_urls') else None)
                    price.append(result.get('price', None))
                    previous_price.append(result.get('previous_price', None))
                    provider_name.append(result.get('provider_name', None))
                    mileage.append(result.get('mileage', None))
                    make_name.append(result.get('make_name', None))
            else:
                print(f"No records found for page {i}")
        except ValueError as e:
            print(f"Error parsing JSON for page {i}: {e}")
            print("Response Text:", response.text)
    else:
        print(f"Failed to fetch data for page {i}: {response.text}")

# Create DataFrame
sedan_multiple_df1 = pd.DataFrame({
    'model_id': model_id,
    'model_name': model_name,
    'photo_urls': photo_urls,
    'price': price,
    'previous_price': previous_price,
    'provider_name': provider_name,
    'mileage': mileage,
    'make_name': make_name,
})

print(sedan_multiple_df.head())

Page 1 Status Code: 200
Page 2 Status Code: 200
Page 3 Status Code: 200
Page 4 Status Code: 200
Page 5 Status Code: 200
   model_id  model_name                                         photo_urls  \
0      1511      Altima  https://static.cargurus.com/images/forsale/202...
1      1440  Challenger  https://static.cargurus.com/images/forsale/202...
2       880        RAV4  https://static.cargurus.com/images/forsale/202...
3       957       F-150  https://static.cargurus.com/images/forsale/202...
4      1276       Tahoe  https://static.cargurus.com/images/forsale/202...

   price  previous_price provider_name  mileage  make_name
0  19999         20699.0     car_gurus  37658.0     Nissan
1  42395         44795.0     car_gurus   1072.0      Dodge
2  25239         25499.0     car_gurus  31556.0     Toyota
3  44430             NaN     car_gurus      NaN       Ford
4  82700             NaN     car_gurus      1.0  Chevrolet

##### Step-15: Pandas DataFrame: Multiple Pages

In [88]:
sedan_multiple_df = pd.DataFrame({'model_id': model_id, 'model_name' : model_name, 'photo_urls' : photo_urls, 'price' : price, 'previous_price' : previous_price, 'provider_name' : provider_name, 'mileage': mileage, 'make_name' : make_name})

##### Step-16: Capturing the first 5 Records

In [89]:
sedan_multiple_df.head()

,model_id,model_name,photo_urls,price,previous_price,provider_name,mileage,make_name
0,1511,Altima,https://static.cargurus.com/images/forsale/202...,19999,20699.0,car_gurus,37658.0,Nissan
1,1440,Challenger,https://static.cargurus.com/images/forsale/202...,42395,44795.0,car_gurus,1072.0,Dodge
2,880,RAV4,https://static.cargurus.com/images/forsale/202...,25239,25499.0,car_gurus,31556.0,Toyota
3,957,F-150,https://static.cargurus.com/images/forsale/202...,44430,NaN,car_gurus,NaN,Ford
4,1276,Tahoe,https://static.cargurus.com/images/forsale/202...,82700,NaN,car_gurus,1.0,Chevrolet

##### Step-17: Storing them into the excel sheet

In [ ]:
sedan_multiple_df.to_excel('sedan_multiple_pages.xlsx', index=False)